
body{
    background-color: #292a3b;
    color: #75c3d7;
    font-size: 18px;
    font-family: 'Arial';
}

.container-encabezado{
    
   
    
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.container-encabezado .logo{
    cursor: pointer;
    margin-right: auto;
  }
  
  .logo img{
    height: 150px;
    width: auto;
  }

.imagen{
    display: flex;
    justify-content: center;
}

.imagen img{
    width: 20%;
    height:20%;
}
.container-encabezado header{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* espacio en la parte superior e inferior de 10px, espacio a los lados de 20 px*/
}
.container-encabezado  header ul{ /*pongo la lista en una fila */
    display: flex;
    list-style: none;
}
.container-encabezado header ul li a{
    
   
    text-align: none;
    color: #75c3d7;
    margin: 0 20px;
    
    
    text-decoration: none;
}
.container-encabezado header nav ul li a:hover{
    color: #ffffff;
}
.nav-responsive{
    
    background-color: #75c3d7;
    color: #292a3b;
    padding: 5px 10px;/*grosor del área de relleno*/
    border-radius: 5px; /*redondeo los bordes*/
    cursor: pointer;
    display: none;
   
}
.name label,
  .email label {
    width: 100px; /* Ancho fijo para las etiquetas */
    display: inline-block;
    text-align: right;
  }

.button{
    width: 100px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    font-size: 18px;
    font-family: 'Arial';
}
 
 /*si la screen es menor a 1000 px implementados una nav bar para movernos por el menu
 quitamos la nav normal y bloqueamos la de navegacion*/   
@media screen and (max-width: 1000px){
    nav{
        display: none;
        cursor: pointer;
    }
    .nav-responsive{
        display: block;
        
    }
    nav.responsive{
        display: block;
        position:absolute ;
        right: 0px;
        top: 140px;
    
        z-index: 1;
        background-color: #292a3b;
        
    }
   
    nav.responsive ul{ /*pongo la lista en columnas */
        display: block !important;
       
    }
    nav.responsive ul li{
        border-bottom: 1px solid #75c3d7;
        padding: 10px 0;
        
    }


    
}
.Entrar a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #75c3d7;
    text-decoration: none;
}
.container-registro h2{
    display: flex;
    justify-content: center;
   
}
.container-registro form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.exit{
    color: #75c3d7;
    text-decoration: none;
}