body{
    background-color: #d6d5c4;
    color: #8a3924;
    font-size: 18px;
    font-family: 'Arial';
}
a{
    color: burlywood;
}
.container-encabezado .logo{
    cursor: pointer;
    margin-right: auto;
  }
.links{
    color:goldenrod;
}
.logo img{
    height: 150px;
    width: auto;
  }

.imagen{
    display: flex;
    justify-content: center;
}

.imagen img{
    width: 20%;
    height:20%;
}
.container-encabezado{
    
    /*position: fixed;*/
    
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-encabezado header{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.container-encabezado  header ul{ /*pongo la lista en una fila */
    display: flex;
    list-style: none;
}
.container-encabezado header ul li a{
    
    font-size: 20px;
    
    color: #8a3924;
    margin: 0 20px;
    padding: 3px;
    text-decoration: none;
}

.name label,
  .email label {
    width: 100px; /* Ancho fijo para las etiquetas */
    display: inline-block;
    text-align: right;
  }

.button{
    width: 100px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    font-size: 18px;
    font-family: 'Arial';
}

.nav-responsive{
    
    background-color: #8a3924;
    color: #d6d5c4;
    padding: 5px 10px;/*grosor del área de relleno*/
    border-radius: 5px; /*redondeo los bordes*/
    cursor: pointer;
    display: none;
   
}
@media screen and (max-width: 1000px){
    nav{
        display: none;
        cursor: pointer;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position:absolute ;
        right: 0px;
        top: 140px;
        width: 190px;
        z-index: 1;
        background-color: #d6d5c4;
    }
    
    nav.responsive ul{ /*pongo la lista en columnas */
        display: block !important;
       
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        
    }


    
}